$primary:       #E1F2EA ;
$primary-light:       #74E7AF;
$primary-dark:       #4A6D5A;
$primary-title:       #AED2B3;
$gray:       #CDCBCB;
$white:       #FFFFFF;
$info:       #F85151;
$secondary:     #B2AD95;
$primary-color: #3498db;